<div>
  @for (obj of (processDefinitions$ | async); track obj) {
    <mat-card>
      <mat-card-content>
      id: {{ obj.id }}
        <br>
      key: {{ obj.key }}
        <br>
      category: {{ obj.category }}
      </mat-card-content>
      <mat-button-toggle mat-button (click)="start(obj.key)">Start</mat-button-toggle>
    </mat-card>
  } @empty {
    Empty list
  }
</div>
